#### Functions in Python
Video Outline:
1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

##### Introduction to Functions
Definition:

A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [1]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [2]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [5]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [6]:
## Call this function
even_or_odd(24)

the number is even

In [7]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [9]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome To the paradise")

greet("Krish")

Hello Krish Welcome To the paradise

In [12]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

greet("Krish")

Hello Krish Welcome To the paradise

In [13]:
### Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*krish):
    for number in krish:
        print(number)

In [14]:
print_numbers(1,2,3,4,5,6,7,8,"Krish")

1
2
3
4
5
6
7
8
Krish

In [15]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [16]:
print_numbers(1,2,3,4,5,6,7,8,"Krish")

1
2
3
4
5
6
7
8
Krish

In [17]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [18]:
print_details(name="Krish",age="32",country="India")

name:Krish
age:32
country:India

In [19]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(1,2,3,4,"Krish",name="Krish",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Krish
name:Krish
age:32
country:India

In [21]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [22]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

##END

In [3]:
for num in range(5):
    if num%2==0:
        print(f"{num} is an even number")
    else:
        print(f"{num} is an odd number")

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number

In [4]:
def even_odd(num):
    """This function performs even or odd on a number"""
    if num%2==0:
        print(f"{num} is an even number")
    else:
        print(f"{num} is an odd number")

In [6]:
even_odd(240101)

240101 is an odd number

In [9]:
# Function with multiple parameters

def add(a,b):
    """Function to add 2 numbers"""
    return a+b

In [11]:
result = add(2,3)
print(result)

5

In [14]:
## Default parameters

def greet(name="Guest"):
    """Print name info"""
    print(f"Hello! {name}.")

greet("Dodo")

Hello! Dodo.

In [33]:
# Variable length arguments
## Positional and keyword argument

def print_numbers(*args):
    numbers=[]
    for num in args:
        numbers.append(num)
        print(sum(numbers))

In [34]:
print_numbers(1,4,5,7,100)

1
5
10
17
117

In [48]:
## Keywords arguments

def print_details(**kwargs):
    """All arguments will be in key value pairs"""
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [52]:
print_details(name="Dipanjan", age=33, country="Dubai")

name: Dipanjan
age: 33
country: Dubai

In [62]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional Arguments: {val}")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [63]:
print_details(1, 2, 3, name="Dipanjan", age=33, country="Dubai")

Positional Arguments: 1
Positional Arguments: 2
Positional Arguments: 3
name: Dipanjan
age: 33
country: Dubai

In [70]:
## Return statements

def multiplier(a,b):
    return a*b,a,b

In [71]:
multiplier(2,9)

(18, 2, 9)